*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#logo,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
} 
h1,
.h1{
    font-size:2.986rem;
    margin-bottom: 1.5rem;
}
h2,
.h2
{
    font-size: 2.488rem;
}
h3,
.h3{
   font-size:  2.074rem;
}
h4,
.h4{
   font-size: 1.728rem;
}
h5.h5{
    font-size: 1.44rem;
}
h6,
.h6{
    font-size: 1.2rem;
}
p,
.p{
  font-size: 1 rem;
  line-height: 160%;
  color: rgb(90, 86, 86);

}
.price{
    display:inline;
    color: grey;
    margin-bottom:1rem ;
    
}
body{

    font-family: "Lato", sans-serif;
}
 
header
{
    padding-top:1rem;
    padding-bottom: 1rem;
    height:72px;
    border: 1px solid black;
}
section {
    padding:.5rem 0;
}


#section1 .container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

#logo
{   
    font-size: 1.5rem;
    color:black;
    text-decoration: none;
}

.container {
    
    width:1320px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right:1rem;
}
nav ul {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    list-style: none;


}

header .container {
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    
    
}

nav a{
    color: grey;
    text-decoration: none;
}
.iconLink{
    color:black;
    text-decoration: none;

}
.iconLinks{
    
display:flex;
direction:row;
align-items: center;
gap:0.5rem;
}
#images 
{   display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;

}
#images  img{
    width:100%;
    height:100%;
}
#image1
{   grid-row-start: 1;
    grid-row-end:span 1 ;
    grid-column-start: 1;
    grid-column-end:span 1;
   
}
#image2
{   grid-row-start: 2;
    grid-row-end:span 1 ;
    grid-column-start: 1;
    grid-column-end:span 1;
   
}
#image3
{   grid-row-start: 3;
    grid-row-end:span 1 ;
    grid-column-start: 1;
    grid-column-end:span 1;
   
}
#image4
{   grid-row-start: 4;
    grid-row-end:span 1 ;
    grid-column-start: 1;
    grid-column-end:span 1;
   
}
#mainImage
{   grid-row-start: 1;
    grid-row-end:span 4;
    grid-column-start: 2;
    grid-column-end:span 3;
   
}
.variants
{
    list-style:none;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:0.5rem;
    margin-bottom:1.5rem;

}
.variant img
{
height:3rem;
width:3rem;
border-radius: 50%;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    border: none;

}                  

.buttonPrimary {
    background-color: black;
    color: white;
}

.buttonSecondary {
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.buttonHolder
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 3rem;

}
.product img
{
    width:100%;
   
}
.productList
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
    margin-top: 1.5rem;
}
.product{

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     border-radius: .5rem;
}

.priceAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productDetails {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}
